.dropdown {
    position: relative;
    margin-bottom: 40px;
}

.dropdown button {
    width: 100%;
    text-align: left;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTYuMywzMi4ybDM5LjgsNDIuN2MyLjEsMi4yLDUuOCwyLjIsNy44LDBsMzkuNS00Mi40YzItMi4yLDIuMy01LjcsMC03LjhjLTIuMi0yLTUuNS0xLjctNy41LDAuNUw1MS40LDYyLjIgICBjLTAuOCwwLjgtMiwwLjgtMi44LDBsLTM0LjUtMzdjLTEuOC0yLTUtMi40LTcuMi0wLjdDNC43LDI2LjIsNC4zLDMwLjEsNi4zLDMyLjJ6Ij48L3BhdGg+PC9nPjwvc3ZnPg=="); /* stylelint-disable-line function-url-quotes */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    background-size: 20px;
}

.dropdown button[aria-expanded="true"] {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTkzLjcsNjcuOEw1My45LDI1LjFjLTIuMS0yLjItNS44LTIuMi03LjgsMEw2LjYsNjcuNWMtMiwyLjItMi4zLDUuNywwLDcuOGMyLjIsMiw1LjUsMS43LDcuNS0wLjVsMzQuNC0zNi45ICAgYzAuOC0wLjgsMi0wLjgsMi44LDBsMzQuNSwzN2MxLjgsMiw1LDIuNCw3LjIsMC43Qzk1LjMsNzMuOCw5NS43LDY5LjksOTMuNyw2Ny44eiI+PC9wYXRoPjwvZz48L3N2Zz4="); /* stylelint-disable-line function-url-quotes */
}

.dropdown ul {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    max-height: 150px;
    overflow: auto;
    background-color: var(--light-color);
    border: 1px solid var(--primary-grey-color);
}

.dropdown li {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown li[aria-selected="true"] {
    background-color: var(--focus-color);
}

.dropdown li:not([aria-selected="true"]):hover {
    background-color: var(--primary-grey-color);
}

.dropdown button:not([aria-expanded="true"]) + ul {
    display: none;
}
