<div id="tab-demo" class="tabs">
    <div class="tabs__tablist" role="tablist" aria-label="Trim a pineapple">
        <button class="tabs__tab" role="tab" aria-selected="true" aria-controls="tab-panel-1" id="tab-1">Tab 1</button>
        <button class="tabs__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="tab-panel-2" id="tab-2">Tab 2</button>
        <button class="tabs__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="tab-panel-3" id="tab-3" data-deletable>Tab 3</button>
        <button class="tabs__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="tab-panel-4" id="tab-4">Tab 4</button>
    </div>
    
    <div class="tabs__panel" tabindex="0" role="tabpanel" id="tab-panel-1" aria-labelledby="tab-1">
        <h3>Steps</h3>
        <ol>
            <li>Cut the two ends of the fruit so that it can be placed vertically on the worktop.</li>
            <li>Slice the skin from top to bottom going around the fruit.</li>
            <li>Remove the “eyes” with the tip of the paring knife.</li>
            <li>Slice the pineapple into quarters then, if necessary, remove the hard central part.</li>
        </ol>
    </div>
    <div class="tabs__panel" tabindex="0" role="tabpanel" id="tab-panel-2" aria-labelledby="tab-2" hidden>
        <h3>Variant</h3>
        <p>To remove pineapple eyes, you can use an effective but more difficult technique. The eyes form parallel and continuous spirals between them around the fruit. You can dig regular trenches with a knife, following these spirals. Remove the parts containing the eyes: the pineapple is sculpted with pretty parallel grooves.</p>
    </div>
    <div class="tabs__panel" tabindex="0" role="tabpanel" id="tab-panel-3" aria-labelledby="tab-3" hidden>
        <h3>Practice</h3>
        <p>You can eat the whole pineapple (eyes removed), “to the bite” as is often done on the islands. Just cut the fruit into quarters. The quarter plumes then serve as an improvised “handle” to bite into the pineapple. According to taste, sprinkle it with grated coconut.</p>
    </div>
    <div class="tabs__panel" tabindex="0" role="tabpanel" id="tab-panel-4" aria-labelledby="tab-4" hidden>
        <h3>Suggestion</h3>
        <p>Lay the pineapple flat and slice it. Remove the core from the slices. Reconstitute the pineapple by stacking the slices on top of each other. Then style the pineapple with its plume of sheets. Squeeze a lime and sprinkle the pineapple with the lemon juice to prevent the flesh from oxidizing.</p>
    </div>
</div>