.accordion {
    @apply border border-slate-200 dark:border-dark-border border-b-0;
}

.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5,
.accordion h6 {
    @apply mb-0;
}

.accordion__trigger {
    @apply block relative w-full border-t-0 border-l-0 border-r-0 border-b border-b-slate-200 dark:border-b-dark-border text-left shadow-none rounded-none dark:text-white after:absolute after:top-[50%] after:-mt-3 after:right-3 after:w-6 after:h-6 after:bg-[currentColor] text-sm;
}

.accordion__trigger::after {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='48' height='48' aria-hidden='true' focusable='false'%3E%3Cpath d='M17.5 11.6L12 16l-5.5-4.4.9-1.2L12 14l4.5-3.6 1 1.2z'%3E%3C/path%3E%3C/svg%3E"); /* stylelint-disable-line function-url-quotes */
    mask-position: calc(100% - 24px) 50%;
    mask-size: 24px;
}

.accordion__trigger[aria-expanded="true"]::after {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='48' height='48' aria-hidden='true' focusable='false'%3E%3Cpath d='M6.5 12.4L12 8l5.5 4.4-.9 1.2L12 10l-4.5 3.6-1-1.2z'%3E%3C/path%3E%3C/svg%3E"); /* stylelint-disable-line function-url-quotes */
}

.accordion__panel {
    @apply px-4 py-6 border-b border-b-slate-200 dark:border-b-dark-border;
}
