.accordion {
    @apply border border-slate-200 dark:border-dark-border border-b-0;
}

.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5,
.accordion h6 {
    @apply mb-0;
}

.accordion__trigger {
    @apply block relative w-full border-t-0 border-l-0 border-r-0 border-b border-b-slate-200 dark:border-b-dark-border text-left shadow-none rounded-none dark:text-white after:absolute after:top-3 after:right-3 after:w-5 after:h-5 after:bg-[currentColor] text-sm;
}

.accordion__trigger::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19.202 5.698H4.798L12 18.302l7.202-12.604Z'/%3E%3C/svg%3E"); /* stylelint-disable-line function-url-quotes */
    mask-position: calc(100% - 20px) 50%;
    mask-size: 20px;
}

.accordion__trigger[aria-expanded="true"]::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M4.798 18.302h14.404L12 5.698 4.798 18.302Z'/%3E%3C/svg%3E"); /* stylelint-disable-line function-url-quotes */
}

.accordion__panel {
    @apply px-4 py-6 border-b border-b-slate-200 dark:border-b-dark-border;
}
