.tabs {
    margin-bottom: 20px;
}

.tabs__tablist {
    display: flex;
    border-bottom: var(--primary-border);
}

.tabs__tab {
    padding: 5px 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
}

.tabs__tab[aria-selected="true"] {
    margin-bottom: -1px;
    border-color: var(--primary-grey-color) var(--primary-grey-color) var(--light-color) var(--primary-grey-color);
}

.tabs__panel {
    padding: 5px 10px;
    border-right: var(--primary-border);
    border-bottom: var(--primary-border);
    border-left: var(--primary-border);
}
