.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: grid;
    place-content: center;
    background-color: var(--modal-bg-color);
}

.modal[aria-hidden="true"] {
    display: none;
}

.modal__inner {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
    background-color: var(--light-color);
}

.modal__title {
    text-align: center;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTU0LjI0Miw1MEw3OC4yMywyNi4wMTJjMS4xNzItMS4xNzEsMS4xNzItMy4wNzEsMC00LjI0MmMtMS4xNzItMS4xNzItMy4wNy0xLjE3Mi00LjI0MiwwTDUwLDQ1Ljc1OEwyNi4wMTIsMjEuNzcgIGMtMS4xNzEtMS4xNzItMy4wNzEtMS4xNzItNC4yNDIsMGMtMS4xNzIsMS4xNzEtMS4xNzIsMy4wNzEsMCw0LjI0Mkw0NS43NTgsNTBMMjEuNzcsNzMuOTg4Yy0xLjE3MiwxLjE3MS0xLjE3MiwzLjA3MSwwLDQuMjQyICBjMC41ODUsMC41ODYsMS4zNTQsMC44NzksMi4xMjEsMC44NzlzMS41MzUtMC4yOTMsMi4xMjEtMC44NzlMNTAsNTQuMjQyTDczLjk4OCw3OC4yM2MwLjU4NiwwLjU4NiwxLjM1NCwwLjg3OSwyLjEyMSwwLjg3OSAgczEuNTM1LTAuMjkzLDIuMTIxLTAuODc5YzEuMTcyLTEuMTcxLDEuMTcyLTMuMDcxLDAtNC4yNDJMNTQuMjQyLDUweiI+PC9wYXRoPjwvc3ZnPg=="); /* stylelint-disable-line function-url-quotes */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.modal-btn {
    margin-bottom: 40px;
}

.modal--demo-4 {
    transition: all 300ms;
}

.modal--demo-4[aria-hidden="true"] {
    display: grid;
}

.modal--demo-4 .modal__inner {
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}

.modal--demo-4.modal--hidden {
    pointer-events: none;
    touch-action: none;
    opacity: 0;
}

.modal--demo-4.modal--hidden .modal__inner {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
}

@media screen and (min-width: 1024px) {
    .modal--mobile,
    .modal--mobile .modal__inner {
        position: static;
    }

    .modal--mobile .modal__inner {
        max-width: none;
        transform: none;
    }

    .modal--mobile .modal__close {
        display: none;
    }
}
