.modal {
    @apply fixed top-0 right-0 bottom-0 left-0 z-[9999] grid place-content-center bg-dark/80;
}

.modal[aria-hidden="true"] {
    display: none;
}

.modal__inner {
    @apply relative w-full max-w-screen-sm p-8 bg-white dark:bg-dark-bg;
}

.modal__title {
    @apply text-center mb-8;
}

.modal__close {
    @apply absolute top-2 right-2 w-8 h-8 bg-dark dark:bg-white hover:bg-slate-500 dark:hover:bg-beapi;

    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M6.4 19.191 4.809 17.6l5.6-5.6-5.6-5.6 1.59-1.591 5.6 5.6 5.6-5.6 1.592 1.59-5.6 5.6 5.6 5.6-1.591 1.592-5.6-5.6-5.6 5.6Z'/%3E%3C/svg%3E"); /* stylelint-disable-line function-url-quotes */
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 100%;
}

.modal--mobile,
.modal--mobile .modal__inner {
    @apply block md:static bg-transparent dark:bg-none;
}

.modal--mobile .modal__inner {
    @apply transform-none max-w-none;
}

.modal--mobile .modal__close {
    @apply hidden;
}

.modal--mobile .modal__title {
    @apply text-left;
}

.form {
    @apply grid grid-cols-2 gap-4;
}

.form__w-full {
    @apply col-span-2;
}

input,
textarea {
    @apply block;
}

textarea + p {
    @apply mt-2;
}

/**
 * Styles for demo 4
 */
.modal--demo-4 {
    @apply transition-all duration-300;
}

.modal--demo-4[aria-hidden="true"] {
    @apply grid;
}

.modal--demo-4 .modal__inner {
    @apply transition-all duration-300 translate-y-0;
}

.modal--demo-4.modal--hidden {
    @apply opacity-0 touch-none pointer-events-none;
}

.modal--demo-4.modal--hidden .modal__inner {
    @apply opacity-0 translate-y-64;
}
