.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid li {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #ffe600;
}

.grid li:hover {
    color: #fff;
    background-color: #1e1e1e;
}

.grid li:hover svg {
    fill: #ffe600;
}

.grid li a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.grid svg {
    width: 100%;
}
