<div id="accordion-demo" class="accordion">
    <h4>
        <button aria-expanded="true" class="accordion__trigger">
            <span class="accordion__title">
                Personal Information
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region">
        <fieldset>
            <p>
                <label for="cufc1-1">Name<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Name" id="cufc1-1" class="required" aria-required="true">
            </p>
            <p>
                <label for="cufc2-1">Email<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Email" id="cufc2-1" aria-required="true">
            </p>
            <p>
                <label for="cufc3-1">Phone:</label>
                <input type="text" value="" name="Phone" id="cufc3-1">
            </p>
            <p>
                <label for="cufc4-1">Extension:</label>
                <input type="text" value="" name="Ext" id="cufc4-1">
            </p>
            <p>
                <label for="cufc5-1">Country:</label>
                <input type="text" value="" name="Country" id="cufc5-1">
            </p>
            <p>
                <label for="cufc6-1">City/Province:</label>
                <input type="text" value="" name="City_Province" id="cufc6-1">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Billing Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="b-add1-1">Address 1:</label>
                <input type="text" name="b-add1-1" id="b-add1-1">
            </p>
            <p>
                <label for="b-add2-1-1">Address 2:</label>
                <input type="text" name="b-add2-1" id="b-add2-1">
            </p>
            <p>
                <label for="b-city-1">City:</label>
                <input type="text" name="b-city-1" id="b-city-1">
            </p>
            <p>
                <label for="b-state-1">State:</label>
                <input type="text" name="b-state-1" id="b-state-1">
            </p>
            <p>
                <label for="b-zip-1">Zip Code:</label>
                <input type="text" name="b-zip-1" id="b-zip-1">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Shipping Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="m-add1-1">Address 1:</label>
                <input type="text" name="m-add1-1" id="m-add1-1">
            </p>
            <p>
                <label for="m-add2-1">Address 2:</label>
                <input type="text" name="m-add2-1" id="m-add2-1">
            </p>
            <p>
                <label for="m-city-1">City:</label>
                <input type="text" name="m-city-1" id="m-city-1">
            </p>
            <p>
                <label for="m-state-1">State:</label>
                <input type="text" name="m-state-1" id="m-state-1">
            </p>
            <p>
                <label for="m-zip-1">Zip Code:</label>
                <input type="text" name="m-zip-1" id="m-zip-1">
            </p>
        </fieldset>
    </div>
</div>