<div id="accordion-demo-4" class="accordion">
    <h4>
        <button aria-expanded="true" class="accordion__trigger">
            <span class="accordion__title">
                Personal Information
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region">
        <fieldset>
            <p>
                <label for="cufc1-4">Name<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Name" id="cufc1-4" class="required" aria-required="true">
            </p>
            <p>
                <label for="cufc2-4">Email<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Email" id="cufc2-4" aria-required="true">
            </p>
            <p>
                <label for="cufc3-4">Phone:</label>
                <input type="text" value="" name="Phone" id="cufc3-4">
            </p>
            <p>
                <label for="cufc4-4">Extension:</label>
                <input type="text" value="" name="Ext" id="cufc4-4">
            </p>
            <p>
                <label for="cufc5-4">Country:</label>
                <input type="text" value="" name="Country" id="cufc5-4">
            </p>
            <p>
                <label for="cufc6-4">City/Province:</label>
                <input type="text" value="" name="City_Province" id="cufc6-4">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Billing Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="b-add1-4">Address 1:</label>
                <input type="text" name="b-add1-4" id="b-add1-4">
            </p>
            <p>
                <label for="b-add2-4">Address 2:</label>
                <input type="text" name="b-add2-4" id="b-add2-4">
            </p>
            <p>
                <label for="b-city-4">City:</label>
                <input type="text" name="b-city-4" id="b-city-4">
            </p>
            <p>
                <label for="b-state-4">State:</label>
                <input type="text" name="b-state-4" id="b-state-4">
            </p>
            <p>
                <label for="b-zip-4">Zip Code:</label>
                <input type="text" name="b-zip-4" id="b-zip-4">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Shipping Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="m-add1-4">Address 1:</label>
                <input type="text" name="m-add1-4" id="m-add1-4">
            </p>
            <p>
                <label for="m-add2-4">Address 2:</label>
                <input type="text" name="m-add2-4" id="m-add2-4">
            </p>
            <p>
                <label for="m-city-4">City:</label>
                <input type="text" name="m-city-4" id="m-city-4">
            </p>
            <p>
                <label for="m-state-4">State:</label>
                <input type="text" name="m-state-4" id="m-state-4">
            </p>
            <p>
                <label for="m-zip-4">Zip Code:</label>
                <input type="text" name="m-zip-4" id="m-zip-4">
            </p>
        </fieldset>
    </div>
</div>