<div id="accordion-demo" class="accordion">
    <h4>
        <button aria-expanded="true" class="accordion__trigger">
            <span class="accordion__title">
                Personal Information
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region">
        <fieldset>
            <p>
                <label for="cufc1-3">Name<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Name" id="cufc1-3" class="required" aria-required="true">
            </p>
            <p>
                <label for="cufc2-3">Email<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Email" id="cufc2-3" aria-required="true">
            </p>
            <p>
                <label for="cufc3-3">Phone:</label>
                <input type="text" value="" name="Phone" id="cufc3-3">
            </p>
            <p>
                <label for="cufc4-3">Extension:</label>
                <input type="text" value="" name="Ext" id="cufc4-3">
            </p>
            <p>
                <label for="cufc5-3">Country:</label>
                <input type="text" value="" name="Country" id="cufc5-3">
            </p>
            <p>
                <label for="cufc6-3">City/Province:</label>
                <input type="text" value="" name="City_Province" id="cufc6-3">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Billing Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="b-add1-3">Address 1:</label>
                <input type="text" name="b-add1-3" id="b-add1-3">
            </p>
            <p>
                <label for="b-add2-3">Address 2:</label>
                <input type="text" name="b-add2-3" id="b-add2-3">
            </p>
            <p>
                <label for="b-city-3">City:</label>
                <input type="text" name="b-city-3" id="b-city-3">
            </p>
            <p>
                <label for="b-state-3">State:</label>
                <input type="text" name="b-state-3" id="b-state-3">
            </p>
            <p>
                <label for="b-zip-3">Zip Code:</label>
                <input type="text" name="b-zip-3" id="b-zip-3">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Shipping Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="m-add1-3">Address 1:</label>
                <input type="text" name="m-add1-3" id="m-add1-3">
            </p>
            <p>
                <label for="m-add2-3">Address 2:</label>
                <input type="text" name="m-add2-3" id="m-add2-3">
            </p>
            <p>
                <label for="m-city-3">City:</label>
                <input type="text" name="m-city-3" id="m-city-3">
            </p>
            <p>
                <label for="m-state-3">State:</label>
                <input type="text" name="m-state-3" id="m-state-3">
            </p>
            <p>
                <label for="m-zip-3">Zip Code:</label>
                <input type="text" name="m-zip-3" id="m-zip-3">
            </p>
        </fieldset>
    </div>
</div>