<div id="accordion-demo-2" class="accordion">
    <h4>
        <button aria-expanded="true" class="accordion__trigger">
            <span class="accordion__title">
                Personal Information
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region">
        <fieldset>
            <p>
                <label for="cufc1-2">Name<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Name" id="cufc1-2" class="required" aria-required="true">
            </p>
            <p>
                <label for="cufc2-2">Email<span aria-hidden="true">*</span>:</label>
                <input type="text" value="" name="Email" id="cufc2-2" aria-required="true">
            </p>
            <p>
                <label for="cufc3-2">Phone:</label>
                <input type="text" value="" name="Phone" id="cufc3-2">
            </p>
            <p>
                <label for="cufc4-2">Extension:</label>
                <input type="text" value="" name="Ext" id="cufc4-2">
            </p>
            <p>
                <label for="cufc5-2">Country:</label>
                <input type="text" value="" name="Country" id="cufc5-2">
            </p>
            <p>
                <label for="cufc6-2">City/Province:</label>
                <input type="text" value="" name="City_Province" id="cufc6-2">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Billing Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="b-add1-2">Address 1:</label>
                <input type="text" name="b-add1-2" id="b-add1-2">
            </p>
            <p>
                <label for="b-add2-2">Address 2:</label>
                <input type="text" name="b-add2-2" id="b-add2-2">
            </p>
            <p>
                <label for="b-city-2">City:</label>
                <input type="text" name="b-city-2" id="b-city-2">
            </p>
            <p>
                <label for="b-state-2">State:</label>
                <input type="text" name="b-state-2" id="b-state-2">
            </p>
            <p>
                <label for="b-zip-2">Zip Code:</label>
                <input type="text" name="b-zip-2" id="b-zip-2">
            </p>
        </fieldset>
    </div>
    <h4>
        <button aria-expanded="false" class="accordion__trigger">
            <span class="accordion__title">
                Shipping Address
            </span>
        </button>
    </h4>
    <div class="accordion__panel" role="region" style="display: none;">
        <fieldset>
            <p>
                <label for="m-add1-2">Address 1:</label>
                <input type="text" name="m-add1-2" id="m-add1-2">
            </p>
            <p>
                <label for="m-add2-2">Address 2:</label>
                <input type="text" name="m-add2-2" id="m-add2-2">
            </p>
            <p>
                <label for="m-city-2">City:</label>
                <input type="text" name="m-city-2" id="m-city-2">
            </p>
            <p>
                <label for="m-state-2">State:</label>
                <input type="text" name="m-state-2" id="m-state-2">
            </p>
            <p>
                <label for="m-zip-2">Zip Code:</label>
                <input type="text" name="m-zip-2" id="m-zip-2">
            </p>
        </fieldset>
    </div>
</div>